/* header section section style added */
.header-section{
    background-image: url(./images/banner/banner1.png);
    position: absolute;
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    
}
.header-div{
    justify-content: space-between;
    text-align: right;
}

.first-header{
    font-size: 50px;
    padding-top: 200px;
    padding-left: 800px;
}
.first-paragraph{
    font-size: 30px;
    font-weight: 500;
    padding-left: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color: orange;
    color: white;
    border: 0;
    border-radius: 10px;
}
/* main section */
.person-image{
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}
.failures-header{
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.failures-paragraph{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.paragraph-details{
    display: inline;
    width: 349px;
    height: 157px;
    left: 862px;
    top: 1421px;
    position: absolute;
    width: 315px;
    height: 25.2px;
    left: 896px;
    top: 1421px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 5px;
}

/* middle style */
.middle-section{
    display: flex;
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
    width: 100%;
}
.my-plan{
    text-align: center;
    width: 179px;
    height: 47px;
    left: 711px;
    top: 1792.3px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px
}
.plan-section{
    padding-left: 100px;
}

/* linear style */
.linear-image{
    background-image: url(./images/gradient1.png), url(./images/watch.png);
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
}
.img-header{
    padding-top: 50px;
    padding-left: 50px;
    width: 459px;
    height: 94px;
    left: 294px;
    top: 2281.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}
#btn{
    margin-left: 50px;
}

/* footer section */
.bottom-p{
    display: flex;
    
    position: absolute;
    width: 100%;
    height: 577px;
    left: 0px;
    top: 2652.26px;

    background: #151414;
}
.future-head{
    margin-left: 200px;
    margin-right: 300px;
}
.future-header{
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2782.26px;
    padding-left: 100px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
   

    color: #F8F8F8;
}
.there-paragraph{
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2851.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.para-email{
    
    width: 184px;
    height: 26px;
    left: 230px;
    top: 2953.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.para-phone{
    width: 186px;
    height: 26px;
    left: 230px;
    top: 2995.26px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.subs{
    width: 123px;
    height: 29px;
    left: 1046px;
    top: 2782.26px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
#fut{
    
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2782.26px;
}
